extends base

block content
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data").forms.edit-profile__form
        label(for="avatar") Avatar 
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(name="email", type="email", placeholder="Email", value=loggedInUser.email, required)
        input(name="username", type="text", placeholder="Username", value=loggedInUser.username, required)
        input(name="location", type="text", placeholder="Location", value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.githubLogin
            div.edit-profile__password
                a(href="/users/change-password") Change Password &rarr;