extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="POST").forms
        input(placeholder="Old Password", type="password", name="oldPW")
        input(placeholder="New Password", type="password", name="newPW")
        input(placeholder="New Password Confirmation", type="password", name="newPW_confirm")
        input(type="submit", value="Change Password")